.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  width: 100%;
}

.photo img {
  width: 30%;
  height: 20rem;
  margin: 10px;
}

.photo img:hover {
  align-self: center;
  width: 28%;
  height: 18rem;
  cursor: pointer;
  border: 1px solid blue;
}

@media (max-width: 880px) {
  .photo {
    flex-direction: column;
    align-items: center;
  }
  .photo img {
    width: 70%;
  }
}
