.myLogo {
  width: 120px;
  height: 55px;
  border-radius: 0px;
}

.personIcon {
  font-size: 2.1rem;
  margin: 0 5px 0 6px;
  color: chocolate;
}

.personIcon:hover {
  color: green;
}

@media (max-width: 992px) {
  .myNavbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .myNavbar > * {
    display: flex;
    text-align: center;
    width: 100%;
  }

  .myNavbar > *:hover {
    background-color: #ccc;
  }
}
